* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner{
    height: 10vh;
    background-image: url("../img/pattern.png");
    background-size: 22%;
    background-color: #4ea0ff;
}

.banner img{
    max-height: 50%;
    margin: 5px;
    margin-top: 2%;
} 